.container {
   max-width: 600px;
   margin: 0 auto;
   padding: 2rem;
}

.fil-col {
   width: 100%;
   margin-bottom: 1rem;
}

.div-button {
   margin-top: 1.5rem;
   display: flex;
   justify-content: center;
}