.container{
   display: flex;
   flex-direction: column;
   padding: 2rem;
}

.fil-col {
   margin: auto;
   width: 80%;
}

.div-button {
   padding-top: 2rem;
   display: flex;
   justify-content: center;
   align-items: center;
}